<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{header}}</h1>
    </header>

    <main>
        {{{body}}} <!-- Este es el lugar donde se renderiza el contenido de cada vista -->
    </main>

    <footer>
        <p>&copy; 2025 Ecommerce</p>
    </footer>
</body>
</html>
